{% extends 'base/main.html' %}

{% block content %}
<div>
    <center>
        <h1>Candidate Registration</h1>
        <br/><br/>
        {% if user.is_authenticated %}
            {% if submitted %}
                <p>You are Sucessfully Registered</p>
                <a href="{% url 'home' %}"><Button>Home Pg</Button></a>
            {% else %}
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="submit"/>
                </form>
            {% endif %}
        {% else %}
            <h3>Access Denied</h3>
            <p>First Sign up/Login Than Register!</p>
            <a href="{% url 'register' %}"><button>Sign up</button></a>
        {% endif %}
    </center>
</div>
{% endblock content %}
